<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

	# When behind an load balancer, if http was forwarded, use https instead
	RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

    RewriteRule /?\.gitignore$ - [F,L]
    RewriteRule /?\.htaccess$ - [F,L]
    RewriteRule /?composer.*$ - [F,L]
    RewriteRule /?Gruntfile.js$ - [F,L]
    RewriteRule /?package\.json$ - [F,L]
    RewriteRule /?node_modules - [F,L]
    RewriteRule /?vendor - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
