<div class="container">
  <h2 class="page-header">Add a Venue</h2>
</div>

<div class="container">
  <p><strong>Find Cheeseheads</strong> is a community-driven resource. As such, we rely on the community to share Packer bars and gathering spots throughout the world.</p>
  <p>All venues found here have been submitted <strong>by Cheeseheads, for Cheeseheads</strong>. Please feel free to share your local Packer bar with others by adding it to our directory.</p>
</div>

<div class="container">
  <div class="alert" role="alert" [innerHtml]="message" *ngIf="message.length > 0" [ngClass]="{'alert-success': success, 'alert-danger': !success}"></div>

  <form id="add-place" method="post" class="form-horizontal" autocomplete="off" (ngSubmit)="submitVenue($event)" #addVenueForm>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group col-md-12">
                 {{ addVenueForm.valid | json }}
            <label for="place-name" class="control-label">Venue Name</label>
            <input type="text" id="place-name" name="name" class="form-control" placeholder="Bart's Bar and Grill" required minlength="3" [(ngModel)]="venue.name" [disabled]="isSubmitting" #venueName="ngModel" />
            <div [hidden]="venueName.untouched || !venueName.pristine" class="alert alert-warning">Please provide a name for the venue</div>
            <div [hidden]="isSubmitting || venueName.untouched || venueName.pristine || venueName.valid" class="alert alert-danger">Venue Name should be at least 3 characters</div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label for="place-address" class="control-label">Address</label>
            <textarea class="form-control" name="address" id="place-address" placeholder="1265 Lombardi Ave
Green Bay, WI 54304" rows="3" required format-address (blur)="startGeocoding()" (formatted-address)="formattedAddress($event)" (latitude)="formattedLatitude($event)" (longitude)="formattedLongitude($event)" [(ngModel)]="venue.address"
[disabled]="isGeocoding || isSubmitting" #venueAddress="ngModel"></textarea>
            <div [hidden]="!isGeocoding" class="status"><img src="assets/loading.gif" />Geocoding address...</div>
            <div [hidden]="isGeocoding || isSubmitting || venueAddress.untouched || venueAddress.pristine || venueAddress.valid" class="alert alert-danger">Address is required</div>
            <div [hidden]="venueAddress.untouched || !venueAddress.pristine" class="alert alert-warning">Please provide an address</div>
            <input type="hidden" name="lat" [(ngModel)]="venue.lat"/>
            <input type="hidden" name="lng" [(ngModel)]="venue.lng"/>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <agm-map class="map" [latitude]="mapLat" [longitude]="mapLng" [zoom]="mapZoom" [streetViewControl]="false">
            <agm-marker [latitude]="venue.lat" [longitude]="venue.lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit for Review" [disabled]="addVenueForm.invalid"/>
          <div id="review-text">
            <em class="small">Our staff will approve your submission after review. Reviews may take up to two days.</em>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
