<nav class="navbar navbar-dark navbar-expand-sm">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Find Cheeseheads</a>
    </div>
    <div class="ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsable" aria-controls="navbar-collapsable" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="navbar-collapsable" class="navbar-collapse collapse my-2 my-sm-0" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/browse">Browse</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/search">Search</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/add">Add</a></li>
      </ul>
    </div>
  </div>
</nav>
