<?php
    $branch = file(".branch")[0];
    $rev = file(".revision")[0];
    $version = substr($rev, 0, 8) . "-" . $branch;
?>
    <div class="container">
        <hr/>
        <footer class="small">
            <p class="pull-left">&copy; FindCheeseheads.com 2015</p>
            <p class="pull-right">A product of <a href="http://www.reddit.com/r/GreenBayPackers" target="_blank">/r/GreenBayPackers</a> and <a href="http://www.reddit.com/r/FindCheeseheads" target="_blank">/r/FindCheeseheads</a>
            <p class="pull-left" style="clear: left;"><?php echo $version; ?></p>
        </footer>
    </div>

    </body>
</html>
