<html ng-app="FindCheeseheadsApp">
    <head>
        <title>FindCheeseheads.com</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/styles/bootstrap-theme.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
        <script src="/src/angular/app.module.js"></script>
        <script src="/src/angular/venue-search/venue-search.module.js"></script>
        <script src="/src/angular/venue-search/venue-search.component.js"></script>
        <script src="/src/angular/venue-search/venue-search-results.component.js"></script>
        <script src="/src/angular/filters/nl2br.filter.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9v9Fz3bIPgZ4Ri-B9NS0E7Q7_Bkj-FMg&libraries=places"></script>
        <script src="/scripts/address-validator.js"></script>
        <script src="/scripts/venue-report.js"></script>
    </head>

    <body>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-67293023-1', 'auto');
            ga('send', 'pageview');
        </script>
