{% include "header.twig" %}
{% include "navbar.twig" %}

<div class="container">
    <h2 class="page-header">Browse</h2>
</div>

<div class="container">
    {% for venue in results %}
        {% include "listing.twig" %}
    {% endfor %}
</div>

{% include "footer.twig" %}
