
    <div class="container">
        <hr/>
        <footer>
            <p class="pull-left">&copy; FindCheeseheads.com 2015</p>
            <p class="pull-right small">A product of <a href="http://www.reddit.com/r/GreenBayPackers" target="_blank">/r/GreenBayPackers</a> and <a href="http://www.reddit.com/r/FindCheeseheads" target="_blank">/r/FindCheeseheads</a></div>
        </footer>
    </div>

    </body>
</html>
