<?php include("config.php"); ?>

<html>
    <head>
        <title>FindCheeseheads.com</title>
        <link rel="stylesheet" href="/styles/bootstrap-custom.min.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9v9Fz3bIPgZ4Ri-B9NS0E7Q7_Bkj-FMg&libraries=places"></script>
        <script src="/scripts/address-validator.js"></script>
    </head>

    <body>
