<?php include("config.php"); ?>

<html>
    <head>
        <title>FindCheeseheads.com</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9v9Fz3bIPgZ4Ri-B9NS0E7Q7_Bkj-FMg&libraries=places"></script>
        <script src="/scripts/address-validator.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top"> 
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Find Cheeseheads</a>
                </div>
                <div id="navbar-collapsable" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/browse.php">Browse</span></a></li>
                        <li><a href="/search.php">Find</span></a></li>
                        <li><a href="/add.php">Add</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1 style="color: #FFB612;">Find Cheeseheads Near You</h1>
                <form id="search" action="search.php" method="get">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="q" placeholder="Search" value="<?php echo $_GET['q']; ?>" />
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                </div>
                </form>
            </div>
        </div>
