    <div class="listing container-fluid">
        <div class="vote">
            <div class="up glyphicon glyphicon-menu-up"></div>
            <div class="score text-center">1</div>
            <div class="down glyphicon glyphicon-menu-down"></div>
        </div>
        <div class="info">
            <h2><?php echo $row['name'];?></h2>
            <address><?php echo str_replace("\n", "<br/>", $row['address']);?></address>
            <ul class="actions small">
                <li class="edit"><a>Edit</a></li>
                <li class="report"><a>Report Issue</a></li>
            </ul>
        </div>
    </div>
