    <div class="listing container-fluid">
        <div class="vote">
            <a class="up voted"></a>
            <span class="score">0</span>
            <a class="down voted"></a>
        </div>
        <div class="info">
            <h2><?php echo $row['name'];?></h2>
            <address><?php echo str_replace("\n", "<br/>", urldecode($row['address']));?></address>
            <ul class="actions small">
                <li class="edit"><a>Edit</a></li>
                <li class="report"><a>Report Issue</a></li>
            </ul>
        </div>
    </div>
