        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Find Cheeseheads</a>
                </div>
                <div id="navbar-collapsable" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/browse.php">Browse</span></a></li>
                        <li><a href="/search.php">Search</span></a></li>
                        <li><a href="/add.php">Add</a></li>
                    </ul>
                </div>
            </div>
        </nav>
