<div class="container">
    <h2 class="page-header">Search</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <input type="text" class="form-control" name="q" placeholder="Search by name, city, or postal code" [(ngModel)]="data.search.query" />
    </div>
    <div class="col-sm-12 col-md-3">
      <select class="form-control" name="c" [(ngModel)]="data.search.country">
        <option *ngFor="let country of data.countries" [selected]="country.code == this.data.search.country.code">{{ country.name }}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-2">
      <input type="button" class="btn btn-primary form-control" value="Search" (click)="search()" />
    </div>
  </div>

  <div class="container" *ngIf="data.results.cities.length > 0">
      <p class="row">Results include venues in {{ data.results.cities | prettyList }}.</p>
  </div>
</div>

<div class="container">
  <span *ngFor="let venue of data.results.venues">
    <fc-venue-listing [venue]="venue" [allow-report]=true></fc-venue-listing>
  </span>

  <div *ngIf="errorMessage.length > 0" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="data.search.hasCriteria() && !isSearching && data.results.venues.length == 0 && errorMessage.length == 0">
    <h2>No bars were found :-(</h2>
    <div class="center-block text-center">
      <a routerLink="/add">
        <button type="button" class="btn btn-secondary">Why not add one?</button>
      </a>
    </div>
  </div>

  <div class="loading" *ngIf="isSearching">
    <img src="assets/loading.gif" />
  </div>

  <div *ngIf="!data.search.hasCriteria()">
    <h2>Search for a venue above.</h2>
  </div>
</div>
