<div class="body">
  <fc-header *ngIf="showHeader()"></fc-header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer *ngIf="showFooter()" class="container">
    <div class="pull-left">
      &copy; <span [innerHtml]="copyrightYear()">YYYY</span> FindCheeseheads.com<br/>
      <a href="https://github.com/johnluetke/findcheeseheads.com"><span [innerHtml]="appRevision()">dev</span>-<span [innerHtml]="appBranch()">master</span></a>
    </div>
    <div class="pull-right align-right">
      A product of <a href="https://reddit.com/r/GreenBayPackers">/r/GreenBayPackers</a> and <a href="https://reddit.com/r/FindCheeseheads">/r/FindCheeseheads</a><br/>
      Icons from <a href="https://useiconic.com/open">Open Iconic</a>
    </div>
  </footer>
</div>
