.listing
  .info
    h2 {{ venue.name | decode }}
    fc-report-indicator([venue]="venue")
    address([innerHtml]="venue.address | nl2br")

  fc-report-message([venue]="venue")

  fc-report-actions(*ngIf="allowReport", [venue]="venue")

