@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';
//@import '~bootstrap/dist/css/bootstrap-grid.css';
//@import '~bootstrap/dist/css/bootstrap-reboot.css';
@import './variables';
@import './open-iconic-bootstrap';

body {
  //background-color: $green;
  height: 100vh;
}

h2 {
  &.page-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}

.container {
  //background-color: white;
}

.content {
  flex: 1;
}

.loading {
  text-align: center;
  padding-top: 20vh;
}

.align-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
