<div class="landing-page">
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-nowrap" [fittext]>Find <span class="d-block d-sm-inline">Cheeseheads</span> <span class="d-none d-md-inline-block">Near You</span></h1>
      <form id="search" action="/search" method="get" (ngSubmit)="doSearch($event)">
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-lg" name="query" placeholder="Search by postal code or city"   [(ngModel)]="model.query" />
          <input type="hidden" name="country" [(ngModel)]="model.country" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </form>
      <p class="lead text-center">Not sure which local watering holes will welcome you on gameday? Find out above.</p>
    </div>
  </div>

  <footer class="sticky-footer">
    <div class="container small">
      <p class="pull-left">&copy; 2016 FindCheeseheads.com</p>
      <p class="pull-right">A product of <a href="http://www.reddit.com/r/GreenBayPackers" target="_blank">/r/GreenBayPackers</a> and <a href="http://www.reddit.com/r/FindCheeseheads" target="_blank">/r/FindCheeseheads</a></p>
      <p class="pull-left" style="clear: left;"></p>
      <p class="pull-right" style="clear: right;">Image Credit AP/Mike Roemer</p>
    </div>
  </footer>
</div>
