<div class="landing-page">
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-nowrap" [fittext]>Find <span class="d-block d-sm-inline">Cheeseheads</span> <span class="d-none d-md-inline-block">Near You</span></h1>
      <form id="search" [formGroup]="searchForm" (ngSubmit)="doSearch()">
        <div class="input-group has-feedback">
          <input type="text" formControlName="criteria" class="form-control input-lg" name="query" placeholder="Search by postal code or city"   [(ngModel)]="search.query" />
          <input type="hidden" formControlName="country" name="country" [(ngModel)]="search.country" />
          <button class="input-group-addon" (click)="doSearch()">
            <i class="oi oi-magnifying-glass form-control-feedback"></i>
          </button>
        </div>
      </form>
      <p class="lead text-center">Not sure which local watering holes will welcome you on gameday? Find out above.</p>
    </div>
  </div>

  <footer class="sticky-footer">
    <div class="container small">
      <p class="pull-left">&copy; {{ copyrightYear() }} FindCheeseheads.com</p>
      <p class="pull-right">A product of <a href="http://www.reddit.com/r/GreenBayPackers" target="_blank">/r/GreenBayPackers</a> and <a href="http://www.reddit.com/r/FindCheeseheads" target="_blank">/r/FindCheeseheads</a></p>
      <p class="pull-left" style="clear: left;"></p>
      <p class="pull-right" style="clear: right;">Image Credit AP/Mike Roemer</p>
    </div>
  </footer>
</div>
