@import '~bootstrap/dist/css/bootstrap.css';
//@import '~bootstrap/dist/css/bootstrap-grid.css';
//@import '~bootstrap/dist/css/bootstrap-reboot.css';
@import './variables';
@import './open-iconic-bootstrap';

.content {
  display: flex;
  flex-direction: column;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
