.body
  fc-header(*ngIf="showHeader()")
  .content
    router-outlet
  footer.container(*ngIf="showFooter()")
    .pull-left &copy;&nbsp;
      span([innerHtml]="copyrightYear()") YYYY
      span &nbsp;FindCheeseheads.com
      br
      a(href="https://github.com/johnluetke/findcheeseheads.com", target="_blank")
        span([innerHtml]="appRevision()") dev
        span -
        span([innerHtml]="appBranch()") master
    .pull-right.align-right
      span A product of&nbsp;
        a(href="https://reddit.com/r/GreenBayPackers", target="_blank") /r/GreenBayPackers
        span &nbsp;and&nbsp;
        a(href="https://reddit.com/r/FindCheeseheads", target="_blank") /r/findcheeseheads
        br
        span Icons from&nbsp;
          a(href="https://useiconic.com/open", target="_blank") Open Iconic
