textarea {
    resize: none;
}

.loading {
    text-align: center;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#add-place input[type='submit'] {
    float: left;
}

#add-place #review-text {
    float: right;
    width: 50%;
}

#add-place #map {
    margin-top: 27px;
    width: 100%;
    height: 150px;
}

#add-place .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.navbar {
    margin-bottom: 0px;
}

.listing {
    display: table;
    margin-left: 0px;
    width: 100%;
}

.listing > * {
    display: table-cell;
}

.listing .info h2 {
    display: inline-block;
}

.listing .info h2 + span.glyphicon-exclamation-sign {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    top: -3px;
    padding: 3px;
}

.listing .vote {
    vertical-align: middle;
    padding-right: 15px;
}

.listing .actions {
    padding: 0;
}

.listing .actions * {
    list-style-type: none;
    display: inline;
}

.listing .actions a {
    cursor: pointer;
}

.listing .action .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.listing .action select[name='report_reason'].form-control {
    display: inline-block;
    width: auto;
    margin-left: 0px;
}
