textarea {
    resize: none;
}

.loading {
    text-align: center;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#add-place input[type='submit'] {
    float: left;
}

#add-place #review-text {
    float: right;
    width: 50%;
}

#add-place #map {
    width: 100%;
    height: 150px;
}

#add-place .form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.navbar {
    margin-bottom: 0px;
}

.cover {
    background-color: #203731;
    color: #FFB612;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 10;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
            box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.cover .jumbotron {
    background-color: transparent;
    margin-bottom: 0px !important;
    z-index: 15;
}

.cover .jumbotron > * {
    z-index: 20;
}

.cover .jumbotron h1 {
    width: 91%;
}

@media (max-width: 991px) {
    .cover .jumbotron h1 {
        width: 140%;
    }

    .cover {
        overflow: hidden;
    }
}

.cover .jumbotron .lead {
    margin-top: 30px;
}

.cover + .sticky-footer {
    color: #FFB612;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 20;
}

.cover + .sticky-footer a {
    color: #FFB612;
    text-decoration: underline;
}

.cover:before {
    content: "";
    background-image: url('/images/cover.jpg');
    background-size: cover;
    opacity: 0.15;
    top: 0; right: 0; bottom: 0; left: 0;
    position: absolute;
    z-index: 0;
}

.listing {
    display: table;
    margin-left: 0px;
    width: 100%;
}

.listing > * {
    display: table-cell;
}

.listing .vote {
    vertical-align: middle;
    padding-right: 15px;
}

.listing .actions {
    padding: 0;
}

.listing .actions * {
    list-style-type: none;
    display: inline;
}

.listing .actions a {
    cursor: pointer;
}

.listing .action .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.listing .action select[name='report_reason'].form-control {
    display: inline-block;
    width: auto;
    margin-left: 0px;
}
