.jumbotron {
    background-color: #203731;
    display: block;
    position: relative;
}

.jumbotron:before {
    content: "";
    background-image: url('/images/banner.jpg');
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.jumbotron .container > * {
    z-index: 1;
}

.listing {
    display: table;
    margin-left: 0px;
}

.listing > * {
    display: table-cell;
}

.listing .vote {
    vertical-align: middle;
    padding-right: 15px;
}

.listing .actions {
    padding: 0;
}

.listing .actions * {
    list-style-type: none;
    display: inline;
}

.listing .actions a {
    cursor: pointer;
}
